@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/*-----------------------------------------------Colors------------------------*/

/* Main: Latte - #b57547 */

/*-----------------------------------------------Header------------------------*/

.logo {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #b57547;
}

nav div ul li {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #b57547;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}