@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/*-----------------------------------------------Colors------------------------*/

/* Main: (Coffee - #b57547) (Latte - #b57547) */

/*-----------------------------------------------Header------------------------*/

nav {
    background-color: #7b4f30;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1px;
    padding-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 2px #000(0, 0, 0, 0.5);
}

.sidenav {
    background-color: #7b4f30;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1px;
    padding-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 2px #000(0, 0, 0, 0.5);
}


/*-----------------------------------------------Flash Messages------------------------*/


.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}