{% extends "base.html" %}
{% block content %}

    <ul class="collapsible popout">
        {% for coffee in coffee %}
        <li>
            <div class="collapsible-header white-text brown darken-1 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ coffee.coffee_name }}</strong> : {{ coffee.coffee_quality }}
            </div>
            <div class="collapsible-body">
                <strong>{{ coffee.caffeine_levels }}</strong>
                <p>{{ coffee.description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}